[run]
source = Protexis_Command
branch = True

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise AssertionError

[paths]
source =
    Protexis_Command/
    */site-packages/
