<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="IGWS">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://isatdatapro.orbcomm.com/GLGW/2/Messages.svc"
                binding="basicHttpBinding" bindingConfiguration="IGWS" contract="IMessages"
                name="IGWS" />
        </client>
    </system.serviceModel>
</configuration>